/* used in: SignUp.jsx */

form {
  background-color: #dedede;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-section {
  box-sizing: border-box;
  padding: 3em;
  border-radius: 1em;
  width: 60%;
  background-color: #EDE6E3;
}

.form-section h1 {
  text-align: center;
  color: #36382E;
}

/* to remove annoying small margin of last form-group */
.form-section :last-child {
  margin-bottom: 0;
}

.form-group {
  flex-direction: row;
  background-color: #DADAD9;
  padding: 1.4em 0.2em 0.2em 0.2em;
  border: 2px solid #36382E;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 1em;
}

.input-field:focus {
  background-color: #FFFFFF;
  transition: all 4s;
}

.input-label {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.4em;
  margin-right: 1em;
  width: 40%;
  text-align: end;
}

.input-field {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #36382E;
  border-radius: 0.2em;
  font-size: 1.4em;
  width: 100%;
  background-color: #EDE6E3;
}

.validation-error {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1em;
  color: red;
  text-align: center;
  width: 100%;
}

.button-group button {
  width: fit-content;
  padding: 0.2em 1em;
  border: 2px solid #36382E;
  border-radius: 0.5em;
  font-size: 1.4em;
  margin-right: 1em;
}

.green-button:hover,
.green-button:focus {
  background-color: #5fbd39;
  transition: all 0.3s;
}

.red-button:hover,
.red-button:focus {
  background-color: #e01313;
  transition: all 0.3s;
}

