/* custom color pallete */
:root {
  --primary-100: #FF5733;
  --primary-200: #ff8a5f;
  --primary-300: #fff3bf;
  --accent-100: #FFC300;
  --accent-200: #916600;
  --text-100: #FFFFFF;
  --text-200: #c0c0c0;
  --bg-100: #1C1C1C;
  --bg-200: #2b2b2b;
  --bg-300: #434343;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../../public/images/background.jpg') fixed center/cover;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--text-100);
  margin: 0;
  padding: 0;
}